<div class="text-center pt-5"><h1>
    BIENVENIDOS A BEST AMBIENT 
</h1>
<b><p>En este apartado veremos algunas imagenes sobre contaminacion ambiental</p></b>
</div><section id="galeria" class="container">
<div class="text-center pt-5">
</div>
<div class="row">
<div class="col-lg-4 col-md-6 col-sm-12"> <img src="assets/image/1.jpg" alt="este es un balon"><b><p>Como podemos ver este es el tipo de contaminacion en el agua</p></b></div>
<div class="col-lg-4 col-md-6 col-sm-12"><img src="assets/image/2.jpg" alt="este es un balon"><b><p>Como podemos ver este es el tipo de contaminacion en el agua</p></b></div>
<div class="col-lg-4 col-md-6 col-sm-12"><img src="assets/image/3.jpeg" alt="este es un balon"><b><p>Como podemos ver este es el tipo de contaminacion en el aire</p></b></div>
<div class="col-lg-4 col-md-6 col-sm-12"><img src="assets/image/3.jpg" alt="este es un balon"><b><p>Como podemos ver este es el tipo de contaminacion en el suelo</p></b></div>
<div class="col-lg-4 col-md-6 col-sm-12"><img src="assets/image/5.jpg" alt="este es un balon"><b><p>Como podemos ver este es el tipo de contaminacion en el suelo</p></b></div>
<div class="col-lg-4 col-md-6 col-sm-12"><img src="assets/image/6.jpg" alt="este es un balon"><b><p>Como podemos ver esta seria una deforestacion</p></b></div>
</div>

</section>