
<div>

  <nav class="navbar navbar-expand navbar-dark bg-success">
    <a class="navbar-brand" href="/">BESTAMBIENT!</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tipoproblemas" class="nav-link">TIPO DE PROBLEMAS AMBIENTALES</a>
      </li>
      <li class="nav-item">
        <a routerLink="list" class="nav-link">LISTAR-PUBLICACIONES</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">AGREGAR PUBLICACIONES</a>
      </li>

      <li class="nav-item">
        <a routerLink="list" class="nav-link">LISTAR-REUNIONES</a>
      </li>
      <li class="nav-item">
        <a routerLink="add1" class="nav-link">AGREGAR REUNIONES</a>
      </li>

      <li class="nav-item">
        <a routerLink="login" class="nav-link">Login</a>
      </li>
    </div>
  </nav>
  <nav class="hola">
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</nav>
</div>

<div class="container">
  <div class="row">
    <div class="col md-8">
      <ul class="list-group"></ul>
    </div>
  </div>
</div>

  <br>
  <footer class="bg-success text-white pt-5 pb-4">
<div class="container text-center  text-md-left">
  <div class="row text-center text-md-left">
    <div class="col-md-e col-lg-2 col-xl-2 mx-auto mt-2">
<h5 class="text-uppercase mb-4 font-weight-bold ">Best Ambient</h5>
<p>Best Ambient , Contra la contaminacion ambiental >:)</p>
    </div>
<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
<h5 class="text-uppercase mb-4 font-weight-bold ">Contactanos:</h5>
<p>
  <a href="#" class="text-white" style="text-decoration: none;">Tel : +1 3000000</a>
</p>
<p>
  <a href="#" class="text-white" style="text-decoration: none;">bestambient@outlok.co</a>
</p>
<p>
  <a href="#" class="text-white" style="text-decoration: none;">Redes sociales: @best ambient</a>
</p>
</div>
  </div>

</div>
  </footer>



