<form #myForm="ngForm">
  <div style="width: 500px; margin: auto">
    <h3>Insertar una publicacion</h3>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="Titulo"
            required
            [(ngModel)]="titulo"
            name="Titulo"
          />
        </div>

        <div class="form-group">
          <label for="author">Descripcion</label>
          <input
            type="text"
            class="form-control"
            id="Descripcion"
            required
            [(ngModel)]="publicaciones.Descripcion"
            name="Descripcion"
          />

        </div>
        </div>
        <div class="form-group form-check">
          <input
            type="checkbox"
            class="form-check-input"
            id="Estado"
            required
            [(ngModel)]="publicaciones.estado"
            name="Estado"
          />
          <label class="form-check-label" for="estado"> ESTADO</label>
        </div>
        <div class="form-group">
          <label for="author">Fecha</label>
          <input
            type="date"
            class="form-control"
            id="fecha"
            required
            [(ngModel)]="publicaciones.fecha"
            name="fecha"
          />
        </div>
        <hr />

        <button (click)="savePublicacion()" class="btn btn-success">
          Guardar
        </button>
      </div>

      <div *ngIf="submitted">
        <h4>publicacion guardada!</h4>
        <!-- <button class="btn btn-success" (click)="newNutrient()">Agregar</button> -->
      </div>
    </div>
  {{ msgError }}
</form>
