<form #myForm="ngForm">
  <div style="width: 500px; margin: auto">
    <h3>Insertar una reunion</h3>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">LUGAR DE ENCUENTRO</label>
          <input
            type="text"
            class="form-control"
            id="lugar_encuentro"
            required
            [(ngModel)]="reuniones.lugar_encuentro"
            name="lugar_encuentro"
          />
        </div>
        <div class="form-group">
          <label for="name">DESCRIPCION DE ENCUENTRO</label>
          <input
            type="text"
            class="form-control"
            id="descripciom_actividad"
            required
            [(ngModel)]="reuniones.descripciom_actividad"
            name="descripciom_actividad"
          />
        </div>

        <div class="form-group form-check">
        
          <input
            type="checkbox"
            class="form-check-input"
            id="Estado"
            required
            [(ngModel)]="reuniones.estado"
            name="Estado"
   />
   <label class="form-check-label" for="estado"> ESTADO</label>
        </div>
        <hr />

        <button (click)="saveReunion()" class="btn btn-success">Guardar</button>
      </div>

      <div *ngIf="submitted">
        <h4>Reunion guardada!</h4>
        <!-- <button class="btn btn-success" (click)="newNutrient()">Agregar</button> -->
      </div>
    </div>
  </div>
  {{ msgError }}
</form>
